* {
    margin: 0 px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --twitter-blue: #1da1f2
}

body {
    background-color: #000000;
    color: #e7e9ea;
    -webkit-font-smoothin: antialiased;
}

body, input, textarea, button {
    font: 400 1rem Roboto, sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
}

/* Page: Timeline */

.layout {
    margin: 0 auto;
    max-width: 1280px;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
}

.content {
    border-left: 1px solid #2f3336;
    border-right: 1px solid #2f3336;
}