* {
    margin: 0 px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --twitter-blue: #1da1f2
}

body {
    background-color: #000000;
    color: #e7e9ea;
    -webkit-font-smoothin: antialiased;
}

body, input, textarea, button {
    font: 400 1rem Roboto, sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
}

/* Page: Timeline */

.layout {
    margin: 0 auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0.4rem 1.25rem 1.5rem;
    gap: 2rem;
}

.sidebar .logo {
    width: 2rem;
    height: 2rem;
}

.sidebar .new-tweet {
    display: flex;
    width: 100%;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 900;
    border: 0;
    justify-content: center;
    background: var(--twitter-blue);
    border-radius: 9999px;
    padding: 1rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.sidebar .new-tweet:hover {
    background: #1a8cd8;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-navigation a {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    text-decoration: none;
    gap: 1.25rem;
}

.main-navigation a svg {
    width: 2rem;
    height: 2rem;
}

.active {
    font-weight: 900;
}

.content {
    border-left: 1px solid #2f3336;
    border-right: 1px solid #2f3336;
}

.timeline-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 700;
    border-bottom: 1px solid #2f3336;
    padding: 0.4rem 1.25rem 1.5rem;
}

.timeline-header svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--twitter-blue);
}

.new-tweet-form {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #2f3336;
    gap: 0.5rem;
    padding: 1.5rem 1.25rem;
}

.new-tweet-form label {
    display: flex;
    gap: 0.75rem;
}

.new-tweet-form label img {
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
}

.new-tweet-form label textarea {
    flex: 1;
    color: #e7e9ea;
    background: #000000;
    border: 0;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 0.75rem;
    resize: none;
}

.new-tweet-form label textarea:focus {
    outline: none;
}

.new-tweet-form button[type=submit] {
    margin-left: auto;
    color: #FFF;
    font-size: 1rem;
    font-weight: 900;
    background: var(--twitter-blue);
    border: 0;
    border-radius: 9999px;
    padding: 0.75rem 1.5rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.new-tweet-form button[type=submit]:hover {
    background: #1a8cd8;
}